#!/usr/bin/make -f
%:

	sed -i "s|project (cedate)|project (mmcal)|g" ./cpp/eg/cedate/CMakeLists.txt
	sed -i "s|add_executable(cedate |add_executable(mmcal |g" ./cpp/eg/cedate/CMakeLists.txt

	dh $@ --buildsystem=cmake --sourcedirectory=./cpp/eg/cedate/
override_dh_usrlocal:
